<h1>Liste des utilisateurs</h1>



<div class="card flex">
    <div class="card flex justify-content-start m-4">
        <p-button label="New" class="mr-2" (click)="ouvrirPopupCreationOuModification()"><i class="pi pi-plus"
                style="font-size: 1rem"></i></p-button>
    </div>
    <!-- <div class="card flex justify-content-start m-4">
        <p-button label="Edit" class="mr-2"><i class="pi pi-pencil" style="font-size: 1rem"></i></p-button>
    </div> -->
</div>


<div class="card">
    <!-- <p-table [value]="persons" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"> -->
    <p-table #dt [value]="persons" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nom','g.nom','representative.nom','status']" [(selection)]="person"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Personnes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                <th pSortableColumn="age"> Age<p-sortIcon field="age"></p-sortIcon></th>
                <th pSortableColumn="departement">Departement<p-sortIcon field="departement"></p-sortIcon></th>

                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
            <tr>
                <td>
                    <p-tableCheckbox [value]="person"></p-tableCheckbox>
                </td>
                <td>{{person.nom}}</td>
                <td>{{person.prenom}}</td>
                <td><b>{{person.age}}</b> (ans)</td>
                <td>{{person.departement.designation}}</td>
                <td>
                    <div class="card flex justify-content-center">
                        <p-button icon="pi pi-pencil" styleClass="p-button-primary" class="mr-3"
                            (click)="ouvrirPopupCreationOuModification(person)"></p-button>

                        <p-toast></p-toast>
                        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                        <p-button icon="pi pi-trash" styleClass="p-button-danger" class="ml-3"
                            (click)="confirm1(person)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- confirm deleted person-->
    <app-popup-edit *ngIf="person" [title]="title" [editPerson]="person" [(visible)]="visible" (misajour)="getAllPeson">
    </app-popup-edit>

    <!-- =================================================================================================== -->